
.container {
    opacity: 0;
    
    transition: opacity 1.0s ease-in 0.5s;
}


header .logo {
    opacity: 0;
    
    transition: opacity 0.3s ease 1.4s; 
}


main {
    flex-grow: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 6.9vw 0; 

    opacity: 0; 
    
    transition: opacity 0.5s ease-in 1.5s;
}

.video-placeholder {
    padding: 3.5vw 0; 
    border: 0px solid #0078FF; 
    width: 50vw; 
    height: 45vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}




section#content-start {
    width: 100%;
    padding-top: 4.2vw; 
    padding-bottom: 3.5vw; 
}


.content-text-main,
.content-text-sub {
    font-size: 1rem; 
    font-weight: 10; 
    color: #606060;
    line-height: 1.7; 
    letter-spacing: 0.05em; 
    
    margin-bottom: 2.8vw; 
    margin-left: 8vw;
    max-width: 41.7vw; 
}


.content-images {
    margin-top: 3.5vw; 
    margin-bottom: 3.5vw; 
    margin-left: 8vw;
}

.content-images img {
    max-width: 9.4vw; 
    height: auto;
    display: block;
}


.studies-title {
    padding: 10.4vw 0; 
    
    font-size: 2rem; 
    font-weight: 500; 
    color: #aaa; 
    margin: 0; 
    text-align: center;
    position: relative;
}

.tool-title {
    padding: 10vw 6.9vw; 
    
    font-size: 2rem; 
    font-weight: 500; 
    color: #aaa; 
    margin: 0; 
    text-align: center;
    position: relative;
}

.studies-title::before {
    content: '';
    display: block;
    
    width: 1.2px; 
    height: 10.4vw; 
    background-color: #d1d1d1;
    
    margin: 0 auto 2.8vw; 
}

a.title-link {
    text-decoration: none;
    color: inherit;
    transition: color 0.2s ease;
}

a.title-link:hover {
    color: #555;
}


body.intro-started #splash-screen {
    pointer-events: none;
    background-color: transparent;
}

body.intro-started .splash-logo {
    top: 1.4vw; 
    left: 50%;
    transform: translate(-50%, 0);
    opacity: 0;
    
    
    transition: all 1.5s cubic-bezier(0.65, 0, 0.35, 1), 
                opacity 0.3s ease 1.4s;
}


body.intro-started .container {
    opacity: 1;
}

body.intro-started header .logo {
    opacity: 1;
}

body.intro-started main {
    opacity: 1;
}